{% extends "base.html" %}

{% block content %}
  <main role="main" class="container">

    <h3 mt-3>Search Posts</h3>
    <form method="GET" action="{% url 'search' %}">
      {% csrf_token %}
      <div class="row mt-3">
        <div class="form-group">
          <div class="col-md-3">
            <p>Title</p>
          </div>
          <div class="col-md-3">
            <select name="title_option" id="title_option">
              <option value="contains" selected>contains</option>
              <option value="is_exactly">is exactly</option>
            </select>
          </div>
          <div class="col-md-6">
            <input class="form-control py-2 border-right-0 border" type="search" name="title_input" />
            <span class="input-group-append">
              <div class="input-group-text bg-transparent">
                <i class="fa fa-search"></i>
              </div>
            </span>
          </div>
        </div>        
      </div>

      <div class="row mt-3">
        <div class="form-group">
          <div class="col-md-3">
            <p>Author</p>
          </div>
          <div class="col-md-3">
            <select name="title_option" id="author_filter">
              <option value="contains" selected>contains</option>
              <option value="is_exactly">is exactly</option>
            </select>
          </div>
          <div class="col-md-6">
            <input class="form-control py-2 border-right-0 border" type="search" name="author_input" />
            <span class="input-group-append">
              <div class="input-group-text bg-transparent">
                <i class="fa fa-search"></i>
              </div>
            </span>
          </div>
        </div>        
      </div>
      
      <div class="row mt-3">
          <div class="form-group col-12">
              <div class="">
                <p>Keyword(s): Title or Content contains </p>
                  <input class="form-control py-2 border-right-0 border" type="search" name="keyword_1" />
                  <input class="form-control py-2 border-right-0 border" type="search" name="keyword_2" />
                  <input class="form-control py-2 border-right-0 border" type="search" name="keyword_3" />
                  <span class="input-group-append">
                      <div class="input-group-text bg-transparent">
                          <i class="fa fa-search"></i>
                      </div>
                  </span>
              </div>
          </div>        
      </div>
  
      <div class="row mt-3">
        <div class="form-group col-md-2 col-lg-2">
          <label for="viewCountMin">Viewed more than</label>
          <input type="number" min=0 class="form-control" id="viewCountMin" placeholder="0" name="view_count_min">
        </div>
        <div class="form-group col-md-2 col-lg-2">
          <label for="likedCountMin">Liked more than</label>
          <input type="number" min=0 class="form-control" id="likedCountMin" placeholder=0 name="liked_count_min">
          <span>times</span>
        </div>
      </div>
      <div class="row mt-3">
        <div class="form-group col-md-3 col-lg-3">
          <label for="publishDateMin">Published after:</label>
          <input type="date" class="form-control" id="publishDateMin" name="date_min">
        </div>
        <div class="form-group col-md-3 col-lg-3">
          <label for="publishDateMin">Published before:</label>
          <input type="date" class="form-control" id="publishDateMax" name="date_max">
        </div>
      </div>
      <div class="row mt-3">
        <div class="form-group col-md-4">
          <label for="category">Category</label>
          <select id="category" class="form-control" name="category">
            <option selected>Choose...</option>
            {% for category in categories %}
            <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group col-md-4">
          <label for="region">Region</label>
          <select id="region" class="form-control" name="region">
            <option selected>Choose...</option>
             {% for region in regions %}
            <option value="{{ region }}">{{ region }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="reviewed" name="reviewed">
          <label class="form-check-label" for="reviewed">
            Reviewed
          </label>
        </div>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="notReviewed" name="notReviewed">
          <label class="form-check-label" for="notReviewed">
            Not reviewed
          </label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Search</button>
    </form>

    <hr />
    <h3 mt-3>Search Results</h3>
    {% if no_results %}
      {{ no_results }}
    {% endif %}
    <div class="row">
        {% for post in queryset %}
        <div class="col-md-4">
          <div class="image-container">
            {{ post.title }}
            <span>Author: {{ post.author.name }}</span>
            <div class="image-container">
              {% if "placeholder" in post.featured_image.url %}
                <img class="card-img-top" src="media/default.jpg" width="100%">
              {% else %}
                <img class="card-img-top" src=" {{ post.featured_image.url }}" width="100%">
              {% endif %}
              <div>
                <p class="author">Author: {{ post.author }} | {{ post.published_on }}</p>
                <strong><p>{{ post.title }}</p></strong>
                <p>{{ post.excerpt }}</p>
                <a href="{% url 'post_detail' post.slug %}">Read the full story</a>
                <p><i class="far fa-heart"></i><span>{{ post.number_of_likes }}</span></p>
              </div>
            </div>
        </div>    
      </div>
        {% if forloop.counter|divisibleby:3 %}
    </div>
    <hr />
    <div class="row">
        {% endif %}
        {% endfor %}       
    </div>
  </main>

{%endblock%}