.graphic-box-left {
    height: auto;
    background-color: bisque;
  }
  
  .graphic-box-right {
    height: auto;
    background-color: azure;
  }
  
  h1 {
    text-align: center;
  }

  .btn-submit {
    color: #333;
  }



  /* .form-box {
    display: block;
    width: 500px;
    margin: 20px, auto;
  } */