{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}
<div class="container">
  <div class="row">
    <h1>{{ post.title }}</h1>
    <p>{{ post.author }} | {{ post.created_on }}</p>
  </div>
  <div>
    {% if "placeholder" in post.featured_image.url %}
      <img src="../media/placeholder.jpg" width="70%">
    {% else %}
      <img src=" {{ post.featured_image.url }}" width="70%">
    {% endif %}
  </div>
</div>

<div class="container">
  <div class="row">
    <p>
      {{ post.content | safe }}
    </p>
  </div>
  <div class="row">
    <div class="col-1">
      <strong>
        {% if user.is_authenticated %}
          <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
            {% csrf_token %}
            {% if liked %}
              <button type="submit" name="'blogpost_id" value="{{post.slug}}" class="btn">
                <i class="fa-solid fa-heart"></i>
              </button>
            {% else %}
              <button type="submit" name="'blogpost_id" value="{{post.slug}}" class="btn">
                <i class="fa-regular fa-heart"></i>
              </button>
            {% endif %}
          </form>
        {% else %}
          <span class="text-secondary"><i class="far fa-heart"></i></span>
        {% endif %}
          <!-- The number of likes goes before the closing strong tag -->
          <span class="text-secondary">{{ post.number_of_likes }}</span>
      </strong>
    </div>
    <div class="col-2">
      {% if user.is_authenticated %}
        <form class="d-inline" action="{% url 'bookmark' post.slug %}" method="POST">
          {% csrf_token %}
          {% if bookmarked %}
            <button type="submit" name="'blogpost_id" value="{{post.slug}}" class="btn">
              <i class="fa fa-bookmark" aria-hidden="true"></i>
            </button>
            <p>You've bookmarked this post</p>
          {% else %}
            <button type="submit" name="'blogpost_id" value="{{post.slug}}" class="btn">
              <i class="fa fa-bookmark-o" aria-hidden="true"></i>
            </button>
            <p>Click to bookmark</p>
          {% endif %}           
        </form>
      {% endif %}
    </div>
  </div>
  <div class="row">
    {% if user.is_authenticated %}
      <form method="GET" action="#">
        {% csrf_token %}
        {{ form.as_p }}
          <input type="submit" value="Update">
      </form>
    {% endif %}
  </div>
  {% if post.status == 2 %}
  <div class="row">
    <h3>Comments:</h3>
  </div>
  <div class="row">
    <div class="col-md-7">
      {% for comment in comments %}
        <span>
        {{ comment.name }}
        {{ comment.created_on }}
        </span>
        {{ comment.body | linebreaks }}
      {% endfor %}
    </div>
    <div class="col-md-5">
      {% if commented %}
        <div class="alert alert-success" role="alert">
          Your comment is awaiting approval
        </div>
      {% else %}
        {% if user.is_authenticated %}
        <h3>Leave a comment:</h3>
        <p>Posting as: {{ user.username }}</p>
        <form method="post" style="margin-top: 1.3em;">
          {{ comment_form | crispy }}
          {% csrf_token %}
          <button type="submit" class="btn btn-signup btn-lg">Submit</button>
        </form>
        {% else %}
        <p><a href="{% url 'account_signup' %}">Become a member</a> to leave comments.</p>
        {% endif %}
      {% endif %}
    </div>
  </div>
  {% endif %}
</div>
{% endblock content %}
<!-- {% url 'post_like' post.slug %} 
{% url 'bookmark' post.slug %}-->