{% extends "base.html" %}

{% block content %}
    <main role="main" class="container">

      <h3>Filter Posts</h3>
      <form method="post" action="{% url 'home' %}">
        {% csrf_token %}
        <div class="form-row mt-3">
            <div class="form-group col-12">
                <div class="input-group">
                    <input class="form-control py-2 border-right-0 border" type="search" name="title_contains" placeholder="Title contains..." />
                    <span class="input-group-append">
                        <div class="input-group-text bg-transparent">
                            <i class="fa fa-search"></i>
                        </div>
                    </span>
                </div>
            </div>        
        </div>
        <div class="form-row mt-3">
            <div class="form-group col-12">
                <div class="input-group">
                    <input class="form-control py-2 border-right-0 border" type="search" name="id_exact" placeholder="ID exact..." />
                    <span class="input-group-append">
                        <div class="input-group-text bg-transparent">
                            <i class="fa fa-search"></i>
                        </div>
                    </span>
                </div>
            </div>        
        </div>
        <div class="form-row mt-3">
            <div class="form-group col-12">
                <div class="input-group">
                    <input class="form-control py-2 border-right-0 border" type="search" name="title_or_author" placeholder="Title or author..." />
                    <span class="input-group-append">
                        <div class="input-group-text bg-transparent">
                            <i class="fa fa-search"></i>
                        </div>
                    </span>
                </div>
            </div>        
        </div>
        <div class="form-row mt-3">
          <div class="form-group col-md-2 col-lg-2">
            <label for="viewCountMin">Minimum View Count</label>
            <input type="number" min=0 class="form-control" id="viewCountMin" placeholder="0" name="view_count_min">
          </div>
          <div class="form-group col-md-2 col-lg-2">
            <label for="viewCountMax">Maximum View Count</label>
            <input type="number" min=0 class="form-control" id="viewCountMax" placeholder="10000?" name="view_count_max">
          </div>
          <div class="form-group col-md-2 col-lg-2">
            <label for="publishDateMin">Publish date minimum</label>
            <input type="date" class="form-control" id="publishDateMin" name="date_min">
          </div>
          <div class="form-group col-md-2 col-lg-2">
            <label for="publishDateMax">Publish date maximum</label>
            <input type="date" class="form-control" id="publishDateMax" name="date_max">
          </div>
          <div class="form-group col-md-4">
            <label for="category">Category</label>
            <select id="category" class="form-control" name="category">
              <option selected>Choose...</option>
              {% for cat in categories %}
              <option value="{{ cat }}">{{ cat }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="reviewed" name="reviewed">
            <label class="form-check-label" for="reviewed">
              Reviewed
            </label>
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="notReviewed" name="notReviewed">
            <label class="form-check-label" for="notReviewed">
              Not reviewed
            </label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
      </form>

      <hr />

      <div class="row">
        <ul>
          {% if queryset %}
          {% for post in queryset %}
            <li>
              {{ post.title }}
              <span>Author: {{ post.author.name }}</span>
              <div class="image-container">
                {% if "placeholder" in post.featured_image.url %}
                <img class="card-img-top"
                    src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg">
                {% else %}
                <img class="card-img-top" src=" {{ post.featured_image.url }}">
                {% endif %}
                <div class="image-flash">
                    <p class="author">Author: {{ post.author }}</p>
                </div>
            </div>
              <!-- <span>
                {% for cat in journal.categories.all %}
                  {{ cat }}
                {% endfor %}
              </span> -->
              <!-- <span>Publish date: {{ journ.publish_date }}</span>
              <span>View count: {{ journal.views }}</span>
              <span>Reviewed: {{ journal.reviewed }}</span> -->
            </li>
            <hr />
          {% endfor %}
          {% endif %}
        </ul>
      </div>

    </main>

{%endblock%}